<div class="header">
  <div class="logo">
    <a href="/"><img src="/img/583.jpg" width="50" height="50" alt="img" /></a>
  </div>
  <div class="abr">
    <nav>
      <a href="/">Главная</a>
      <a href="/personalInformation/admin">Личная информация</a>
      <a href="/contacts">Контакты</a>
    </nav>
  </div>
  <form action="/formValue" method="post">
    <input type="text" name="name" placeholder="Например admin..." />
    <input type="submit" value="Перейти" />
  </form>
</div>
